torch-scatter==2.1.1 -f https://data.pyg.org/whl/torch-1.13.0+cu117.html ; python_full_version >= "3.7.13" and python_version < "3.11"
torch-sparse==0.6.13 -f https://data.pyg.org/whl/torch-1.13.0+cu117.html ; python_full_version >= "3.7.13" and python_version < "3.11"
torch-cluster==1.6.0 -f https://data.pyg.org/whl/torch-1.13.0+cu117.html ; python_full_version >= "3.7.13" and python_version < "3.11"
torch-spline-conv==1.2.1 -f https://data.pyg.org/whl/torch-1.13.0+cu117.html ; python_full_version >= "3.7.13" and python_version < "3.11"
torch-geometric ; python_full_version >= "3.7.13" and python_version < "3.11"
gseapy==1.1.8 ; python_full_version >= "3.7.13" and python_version < "3.11"
sphinx ; python_full_version >= "3.7.13" and python_version < "3.11"
sphinx_rtd_theme ; python_full_version >= "3.7.13" and python_version < "3.11"
orbax<0.1.8 ; python_full_version >= "3.7.13" and python_version < "3.11"
jupyterlab ; python_full_version >= "3.7.13" and python_version < "3.11"
notebook ; python_full_version >= "3.7.13" and python_version < "3.11"
ipykernel ; python_full_version >= "3.7.13" and python_version < "3.11"
nbsphinx ; python_full_version >= "3.7.13" and python_version < "3.11"
nbsphinx-link ; python_full_version >= "3.7.13" and python_version < "3.11"
myst_nb ; python_full_version >= "3.7.13" and python_version < "3.11"
entmax ; python_full_version >= "3.7.13" and python_version < "3.11"
